enwik?.zip
*.hdf5
*.gz
histo?
fofengram?.txt
fofebaserates?.txt
fofepresparsemodel*
fofesparsemodel*
fofesparserembedlogisticmodel*
fofesparserembedmodel*
fofesparsesvrgmodel*
fofexrmsparsemodel*
numlinesfofengram?
save
